DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=onfly

JWT_SECRET=troque-por-uma-chave-segura

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=seu-usuario-mailtrap
MAIL_PASS=sua-senha-mailtrap
MAIL_FROM=noreply@onfly.com
