DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=onfly

JWT_SECRET=troque-por-uma-chave-segura

MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=seu-usuario-ethereal
MAIL_PASS=sua-senha-ethereal
MAIL_FROM=noreply@onfly.com
